body {
	background-color: #00B353;
}

h1 {
	color: white;
}

h2 {
	color: white;
}

.ingredient-table {
	background-color: #3390C2;
	border: 2px solid #3E7800;
	border-collapse: collapse;
}

table.ingredient-table th{
	border-bottom: 2px solid #3E7800;
	border-right: 2px solid #3E7800;
	padding: 16px;
}

table.ingredient-table td{
	border-right: 2px solid #3E7800;
	padding: 16px;

.banner {
	text-align: right;
	width: 95%;
	
	padding-right: 1%;
	padding-top: 5px;
	padding-bottom: 5px;

	border: 5px dashed #05547F;

	background-repeat: no-repeat;
}