body {
	background-color: #066BA1;
	font-family: sans-serif;
}

h1 {
	color: #033854;
	font-family: "papyrus", fantasy;
	font-variant: small-caps;
}

h2 {
	color: #CFEBB0;
	font-family: cursive;
}

.recipe-tile {
	background-color: white;
	box-shadow: 3px 10px 7px #033854;
	width: 80%;
	padding: 4px;
}

.ingredient-table {
	background-color: #92C2A8;
	border: 2px solid #3E7800;
	border-collapse: collapse;
}

table.ingredient-table th{
	border-bottom: 2px solid #3E7800;
	border-right: 2px solid #3E7800;
	padding: 3px;
}

table.ingredient-table td{
	border-right: 2px solid #3E7800;
	padding: 3px;
}

.banner {
	text-align: left;
	width: 95%;
	
	padding-left: 1%;
	padding-top: 4px;
	padding-bottom: 4px;

	background-color: #00B353;

	background-repeat: no-repeat;

	box-shadow: 3px 10px 7px #033854;
}

.banner-image {
	float: right;
	padding-right: 1%;
}

.recipe-list {
	float: right;
	width: 20%;
	margin-left: 10px;
}

.recipe-photo { 
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	height: 300px;
}

.steps {
	clear: both;
}
