body {
	background-color: pink;
}

h1 {
	color: white;
}

h2 {
	color: white;
}

.spaghetti-table {
	background-color: rgb(204, 57, 123);
}

.pbj-table {
	background-color: rgb(204, 57, 123);
}

.banner {
	text-align: right;
	width: 95%;
	padding-right: 1%;

	border: 5px solid black;
	border-color: rgb(0, 41, 92);

	background-image: url(https://images.atkins.com/spring-recipes.png?w=435&h=306&crop=faces,center,center&fit=crop);
}

.banner-border {
}
